/* button */

.button {
  font-size: 1.6rem;
  padding: 0.8em 2em;
  cursor: pointer;
  border: 0;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.button::after,
.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  display: block;
  transition: transform 0.2s;
  z-index: -1;
}

.button::after {
  transform: translate(3px, 3px);
}

.button::before {
  transform: translate(-3px, -3px);
}

.button:hover::after {
  transform: translate(-3px, -3px);
}

.button:hover::before {
  transform: translate(3px, 3px);
}

/* header */

.header {
  font-size: 4.8rem;
  font-weight: 700;
  margin: 0.2em 0;
}

.header--center {
  text-align: center;
}

/* paragraph */

.paragraph {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 1.2em 0;
}

/* page-header */

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.page-header__item {
  color: #fff;
  font-weight: 100;
  font-size: 1.6rem;
  text-transform: uppercase;
}

/* nav */

.nav {
  position: fixed;
  top: 100px;
  width: 100vw;
  height: calc(100vh - 400px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__list {
  list-style: none;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px 100px;
}

.nav__list__item {
}

.nav__list__item__link {
  color: #fff;
  text-decoration: none;
  font-weight: 100;
  font-size: 4.8rem;
}

/* footer */

.footer {
  width: calc(100vw - 400px);
  background-color: #000;
  position: fixed;
  /* top: calc(100% - 10px); */
  top: calc(100% - 200px);
  left: 50%;
  transform: translateX(-50%);
  height: 200px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  /* transition: 0.7s cubic-bezier(0.85, 0, 0.15, 1); */
  /* cursor: pointer; */

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__list {
  list-style: none;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px 100px;
}

.footer__list__item {
  color: #fff;
  width: 250px;
}
/* .footer:hover {
  transform: translateX(-50%) translateY(-10px);
} */

.footer__link {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}
